<section>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 text-center mt-md-5 mt-lg-5 mt-xl-5 mt-1 mb-2">

                @*<img src="~/Bg-img/sample-img/0-02-06-f97bfbfa53f5307cc62e144a9eea7e5890e47d9bfb2a5c760cdb78828e616aec_12f7fd6e.jpg" height="200" width="400" class="img-fluid"  />*@
                @*<img src="~/Bg-img/travel-logo-900.png" height="200" width="250" class="img-fluid" />*@
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-18 text-left text-uppercase font-red p-2">About us</h4>
                <p class="p-2 my-font-14">Mhyles Corporation Travel & Tours will take you to your destination, on your preferred schedule, within your desired budget. We will help you create a memorable, premium travel experience that you would want to remember, again and again and again.</p>
                <p class="p-2 my-font-14">Our company has established a network which now covers all major Asian, Europe and Philippine tourist destinations. Inbound and Outbound tourism centers throughout South East Asia. Mhyles Travel and Tours offers these days in most countries in the region and become a standard and aspire to be seen as the benchmark which other are judge.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-18 text-uppercase font-red p-2">
                    ACCREDITATIONS
                </h4>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-sm-center text-md-center">
                        <img src="~/Bg-img/sample-img/5.JPG" class="img-fluid" />
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-sm-center text-md-center">
                        <img src="~/Bg-img/sample-img/6.JPG" class="img-fluid" />
                    </div>
                </div>
                <p class="p-2 my-font-14">
                    We are happy to announce that Mhyles Travel & Tours are officially an IATA Accredited Agent.
                </p>
                <p class="p-2 my-font-14">
                    The International Air Transport Association (IATA) works with both airlines and air transport industry’s to promote safe, reliable and secure air travel. In order to meet the demands of the accreditation, Mhyles Travel & Tours complied with all of the appropriate licence and legal requirements.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-ms-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-18 text-left text-uppercase font-red p-2">Our Services</h4>
               
                    <ul class="my-font-13">
                        <li> Inbound and Outbound tour arrangements </li>
                        <li>Educational Tours </li>
                        <li>Pilgrimage Tours </li>
                        <li>MICE</li>
                        <li>Documentation (Passport and Visa Assistance, Red Ribbon etc.) </li>
                        <li>Airline ticket booking </li>
                        <li>Hotel Reservation</li>
                        <li>Transportation Assistance</li>
                    </ul>
               

                <h4 class="my-font-16 text-left text-uppercase font-red p-2">Mission</h4>
                <p class="p-2 my-font-14">
                    To provide each client a worry free, relaxing, enjoyable and  memorable trips. To make our clients be a Premium Traveler all the  time.
                </p>

                <h4 class="my-font-16 text-left text-uppercase font-red p-2">Vision</h4>
                <p class="p-2 my-font-14">
                    To be the preferred agency of travelers who want comfort, fluidity  and accuracy, whether business or personaltrip. To be known as a  reliable and dependable travel agency, providing Class A service to its  clients, meeting efficiently their travel needs andwants.
                </p>

                <h4 class="my-font-16 text-left text-uppercase font-red p-2">
                    our Partners
                </h4>
               <ul class="my-font-13">
                   <li>1898 HOTEL COLONIA EN LAS FILIPINAS</li>
                   <li>ANTEL SPA SUITE</li>
                   <li>ASTORIA GREENBELT </li>
                   <li>BERJAYA MAKATI HOTEL </li>
                   <li> CITY GARDEN GRAND HOTEL </li>
                   <li> CITY GARDEN HOTEL MAKATI </li>
                   <li>CROWN REGENCY HOTEL - MANILA </li>
                   <li> DISCOVERY PRIMEA </li>
                   <li>DUSIT THANI PHILIPPINES, INC.</li>
                   <li>FAIRMONT RAFFLES HOTEL MAKATI </li>
                   <li>HERALD SUITES </li>
                   <li>HOLIDAY INN AND SUITES MAKATI </li>
                   <li>JADE HOTEL AND SUITES</li>
                   <li>JINJIANG INN MAKATI</li>
                   <li>LOURDES SUITES </li>
                   <li>MAKATI SHANGRI-LA HOTEL MANILA </li>
                   <li> NEW WORLD MAKATI  HOTEL </li>
                   <li>ONE PACIFIC PLACE SERVICED RESIDENCES</li>
                   <li>OXFORD SUITES MAKATI </li>
                   <li>RED PLANET MANILA AMORSOLO</li>
                   <li>RITZ ASTOR HOTEL</li>
                   <li>ROYAL BELLAGIO </li>
                   <li>ST. GILES HOTEL </li>
                   <li>TIARA ORIENTAL HOTEL </li>
                   <li>THE CHARTER HOUSE</li>
                   <li>THE E-HOTEL MAKATI</li>
                   <li>VALERO GRAND SUITES </li>
                   <li>Y2 RESIDENCE HOTEL</li>
               </ul>
            </div>
            <div class="col-12 col-ms-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-18 text-left text-uppercase font-red p-2">Mice Facility Organizers</h4>
                <div class="row">
                    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 col-12">
                        <img src="~/Bg-img/sample-img/1.JPG" class="img-fluid" />
                    </div>
                    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 col-12">
                        <img src="~/Bg-img/sample-img/2.JPG" class="img-fluid" />
                    </div>
                    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 col-12">
                        <img src="~/Bg-img/sample-img/3.JPG" class="img-fluid" />
                    </div>
                    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 col-12">
                        <img src="~/Bg-img/sample-img/4.JPG" class="img-fluid" />
                    </div>
                </div>

                @*<h4 class="my-font-16 text-left text-uppercase font-red p-2">Lorem ipsum dolor</h4>
                <p class="p-2 my-font-14">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <h4 class="my-font-16 text-left text-uppercase font-red p-2">Lorem ipsum dolor</h4>
                <p class="p-2 my-font-14">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <h4 class="my-font-16 text-left text-uppercase font-red p-2">Lorem ipsum dolor</h4>
                <p class="p-2 my-font-14">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>*@
            </div>
        </div>
    </div>
</section>
